<ion-header  >
  <ion-toolbar >

    <ion-buttons slot="start" style="margin-left: 10px;"  >
      <ion-back-button  style="color: rgb(255, 255, 255); font-weight: bolder;" defaultHref="/home" >Regresar</ion-back-button>
    </ion-buttons>

    <ion-title class="header text-center"  >
      <img class="logo-sapa-menu" style="width: 40px;" src="../../../assets/logo_blanco.png" alt="">  
    </ion-title>

    <ion-buttons slot="end" style="margin-right: 10px;" >
      <ion-back-button  style="visibility: hidden;" defaultHref="/home" >Regresar</ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cont_tandeo">
      <iframe src="https://tandeo.sapalapaz.gob.mx/" frameborder="0"></iframe>
  </div>
</ion-content>