.header{
    background: rgb(156,210,154);
    background: -moz-linear-gradient(45deg, rgba(156,210,154,1) 0%, rgba(133,195,77,1) 29%);
    background: -webkit-linear-gradient(45deg, rgba(156,210,154,1) 0%, rgba(133,195,77,1) 29%);
    background: linear-gradient(45deg, rgba(156,210,154,1) 0%, rgba(133,195,77,1) 29%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cd29a",endColorstr="#85c34d",GradientType=1);
}