<ion-header  >
  <ion-toolbar >

    <ion-buttons slot="start" style="margin-left: 10px;"  >
      <ion-back-button  style="color: rgb(255, 255, 255); font-weight: bolder;" defaultHref="/home" >Regresar</ion-back-button>
    </ion-buttons>

    <ion-title class="header text-center"  >
      <img class="logo-sapa-menu" style="width: 40px;" src="../../../assets/logo_blanco.png" alt="">  
    </ion-title>

    <ion-buttons slot="end" style="margin-right: 10px;" >
      <ion-back-button  style="visibility: hidden;" defaultHref="/home" >Regresar</ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="card">
  <img style="height: 200px;" alt="Silhouette of mountains" src="assets/2022-01.jpg" />
  <ion-card-header>
      <ion-card-subtitle>Reporte de fugas y aclaraciones</ion-card-subtitle>
  <ion-card-title> Call Center</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      (612) 123 8628
  </ion-card-content>
</ion-card>
<ion-card class="card">
  <img style="height: 200px;" alt="Silhouette of mountains" src="assets/servicio.webp" />
  <ion-card-header>
      <ion-card-subtitle>Aclaraciones de su Facturacion</ion-card-subtitle>
  <ion-card-title> Atencion al Usuario</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      (612) 123 8628
  </ion-card-content>
</ion-card>


</ion-content>
