ion-toolbar{
    --background: #00846a;

    --color: #ffffff;
}

.cont_quejas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}